.header {
	border-bottom: 1px solid var(--badges);
	padding: 24px 0 24px;
	background-color: var(--inputs);
}
.header__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	margin-right: 32px;
}

@media screen and (min-width: 1440px) {
	.header__box {
		justify-content: start;
	}
	.header__logo {
		margin-right: 450px;
	}
}
