.header {
	border-bottom: 1px solid var(--badges);
	padding: 24px 0 24px;
	background-color: var(--inputs);
}
.header__box {
	display: flex;
	align-items: center;
}
.header__logo {
	margin-right: 45px;
}

@media screen and (min-width: 768px) {
	.header__logo {
		margin-right: 350px;
	}
}

@media screen and (min-width: 1440px) {
	.header__logo {
		margin-right: 450px;
	}
}
