.section {
	padding: 0 0 52px 0;
}
.catalog__box {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
@media screen and (min-width: 768px) {
	.catalog__box {
		flex-direction: row;
		justify-content: space-between;
	}
}
@media screen and (min-width: 1440px) {
	/* .catalog__box {
		gap: 64px;
	} */
}
