.catalog__section {
	padding: 48px 0 52px;
}
.catalog__box {
	display: flex;
	flex-direction: column;
	gap: 64px;
}
@media screen and (min-width: 768px) {
	.catalog__box {
		flex-direction: row;
	}
}
