.section {
	padding: 48px 0 52px;
}
.catalog__box {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
@media screen and (min-width: 768px) {
	.catalog__box {
		flex-direction: row;
	}
}
@media screen and (min-width: 1440px) {
	.catalog__box {
		gap: 64px;
	}
}
