.name {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33;
	color: var(--main);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 8px;
}
.ratebox {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.ratebox__icon {
	margin-right: 4px;
}
.ratebox__rate {
	color: var(--main);
	margin-right: 16px;
	text-decoration: underline;
}
.ratebox__info {
	color: var(--main);
	margin-right: 16px;
}

.price {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33;
	color: var(--main);
	margin-bottom: 28px;
}
.gallery__list {
	display: flex;
	gap: 48px;
	margin-bottom: 28px;
}
.gallery__item {
	border-radius: 10px;
	overflow: hidden;
	flex-basis: calc((100% - 3 * 48px) / 4);
	height: 312px;
}
.gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.gallery__warning {
	text-align: center;
	margin-bottom: 60px;
}
.description {
	margin-bottom: 60px;
}

.nav__list {
	display: flex;
	gap: 40px;
	position: relative;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: var(--main);
	margin-bottom: 68px;
}
.nav__list::before {
	content: "";
	position: absolute;
	left: 0;
	top: 48px;
	height: 1px;
	width: 100%;
	background-color: var(--gray-light);
}
.active {
	color: var(--button-hover);
}
.nav__item {
	position: relative;
}
.nav__item:has(.active)::after {
	content: "";
	position: absolute;
	left: 0;
	top: 46px;
	height: 5px;
	width: 100%;
	background-color: var(--button);
}
.featuresReviewsForm__box {
	display: flex;
	justify-content: space-between;
}
.featuresReviews {
	width: 631px;
}
.form {
	width: 641px;
}
