.h3 {
	position: relative;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: var(--main);
	margin-bottom: 48px;
}
.h3::after {
	content: "";
	position: absolute;
	left: 0;
	top: 48px;
	height: 1px;
	width: 100%;
	background-color: var(--gray-light);
}
.equipment__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 8px;
	column-gap: 12px;
	margin-bottom: 32px;
	width: 100%;
}
.equipment__item {
	flex-basis: calc((100% - 2 * 12px) / 3);
}
