.campers__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.campers__list {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-bottom: 40px;
}
.campers__item {
	flex-basis: 100%;
}
.loadMoreBtn {
	border: 1px solid var(--gray-light);
	border-radius: 200px;
	width: 145px;
	height: 56px;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: var(--main);
	user-select: none;
	transition: border-color;
	background-color: var(--white);
}
.loadMoreBtn:hover {
	border-color: var(--button-hover);
}
