.filters__box {
	width: 320px;
}

@media screen and (min-width: 1440px) {
	.filters__box {
		width: 360px;
	}
}

.filters__title {
	margin-bottom: 32px;
}

.filters__btn {
	margin: 0;
	width: 166px;
	height: 56px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	background-color: var(--button);
	border-radius: 200px;
	transition: background-color;
	color: var(--white);
	user-select: none;
}

.filters__btn:hover,
.filters__btn:focus {
	background-color: var(--button-hover);
}
