.section__hero {
	max-width: 1440px;
	margin: 0 auto;
	padding: 260px 0;
	background-image:
		linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(/images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: var(--white);
}
.slogan {
	font-weight: 600;
	font-size: 48px;
	line-height: 0.67;
	margin-bottom: 16px;
}
.info {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33;
	margin-bottom: 40px;
}
.hero__btn {
	margin: 0;
	padding: 16px 48px;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	background-color: var(--button);
	border-radius: 200px;
	transition: background-color;
	user-select: none;
}

.hero__btn:hover,
.hero__btn:focus {
	background-color: var(--button-hover);
}
