.container {
	max-width: 480px;
	margin: 0 auto;
	padding: 0 20px;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding: 0 40px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1440px;
		padding: 0 64px;
	}
}
