.BookForm__box {
	border: 1px solid var(--gray-light);
	border-radius: 10px;
	padding: 44px 57px;
}
.BookForm__header {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: var(--main);
	margin-bottom: 8px;
}
.BookForm__slogan {
	color: var(--gray);
	margin-bottom: 24px;
}
.BookForm__item {
	position: relative;
	width: 100%;
	margin-bottom: 14px;
}
.BookForm__item :global(.react-datepicker-wrapper) {
	width: 100%;
}

.BookForm__item :global(.react-datepicker__input-container) {
	width: 100%;
}

.BookForm__item :global(.react-datepicker__input-container) input {
	width: 100%;
}
.BookForm__field,
.BookForm__commentField {
	width: 100%;
	padding: 18px;
	border-radius: 12px;
	color: var(--main);
	background-color: var(--inputs);
	outline: none;
	border: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}
.BookForm__field:focus,
.BookForm__commentField:focus {
	outline: none;
	border: none;
}
.BookForm__field::placeholder,
.BookForm__commentField::placeholder {
	color: var(--gray);
}
.BookForm__commentField {
	resize: none;
	height: 118px;
}
.BookForm__error {
	position: absolute;
	top: 2px;
	right: 18px;
	color: var(--button-hover);
}
.BookForm__btn {
	margin: 0 auto;
	border-radius: 200px;
	width: 166px;
	height: 56px;
	padding: 16px 63px;
	background-color: var(--button);
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: var(--white);
}

.BookForm__btn:hover {
	background-color: var(--button-hover);
}
